body {
	background: #F9F9F9;
	color: #323F75;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

/**
 * top header
 */
.top-header {
	align-items: center;
	background: #323f75;
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.avatar {
	background: #F9F9F9;
	border-radius: 50%;
	color: #333C4D;
	height: 40px;
	margin-right: 20px;
    margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: white;
}

/**
 * top navigation
 */
.top-nav {
	font-size:24px;
	font-weight: 400;
	flex: 1;
}

.top-nav a {
	color: #F9F9F9;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

#welcome-msg {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}


/**
 * book a laundry Section
 */

/**
 * main section
 */
 
.main-section {
	position:relative;
	margin: 100px auto;
	height:auto;
	max-width: 1100px;
	min-width: 600px;
}

/**
 * main navigation
 */
 
 .main-nav {
	flex: 0.5;
}

.main-nav-btn {
	color: #ffffff;
	font-weight: 500;
	font-size:1em;
	margin-left: 50px;
	text-decoration: none;
  	cursor: pointer;
}
.main-nav-btn.active {
	font-weight: 900;
	color: white;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	color: black;
}

/**
 * washing machine list
 */

#my_machine_list {
	position:relative;
	display: flex;
	margin:30px;
  height:200px;
  width:1000px;
  background-color: #FFFFFF;
 
}

#info {
	width: 600px;
	padding:50px;
	display:block;
}

/**
 * progress bar
 */
 
 #myProgress {
  left:245px;
  width: 100%;
  background-color: #f5d840;
}

#myBar {
	/* position:absolute; */
  width: 2%;
  height: 20px;
  background-color: #50CAF6;
}

/**
 * unit washing machine
 */


.machine_img {
	padding: 50px;
	height:8rem;
}
.machine>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}
.machine span{
	font-size: 0.5em;
}
