* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #434343;
	font-weight: 300;
	font-size: 1.2em;
	color: #FFFFFF;
}


/**
 * top header
 */
.top-header {
	align-items: center;
	background: #50CAF6;
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.avatar {
	background: #F9F9F9;
	border-radius: 50%;
	color: #333C4D;
	height: 40px;
	margin-right: 20px;
    margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: white;
}

/**
 * top navigation
 */
.top-nav {
	flex: 1;
}

.top-nav a {
	color: #F9F9F9;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

#welcome-msg {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}

/**
 * Main Section
 */
.container {
	margin: 60px auto;
	max-width: 1000px;
	min-width: 600px;
}

/**
 * main header
 */
.container>header {
	align-items: center;
	background:
		#96AFBE
		no-repeat 50% 40%;
	background-size: 100%;
	display: flex;
	height: 250px;
}

.container>header p {
	border-left: 2px solid #F9F9F9;
	font-weight: 400;
	font-size: 2em;
	line-height: 1em;
	margin-left: 220px;
	padding-left: 5px;
}

.container>header span {
	color: #F9F9F9;
}


/**
 * book a laundry Section
 */

/**
 * main section
 */
.main-section {
	background: #F9F9F9;
}
/**
 * main navigation
 */
 
 .main-nav {
	flex: 1;
}

.main-nav-btn {
	color: #96AFBE;
	font-weight: 500;
	font-size:1em;
	margin-left: 50px;
	text-decoration: none;
  	cursor: pointer;
}
.main-nav-btn.active {
	background: #FFFFFF;
	color: black;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	color: black;
}

/**
 * washing machine list
 */
#machine_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  background-color: #fff;
  color: #444;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

/**
 * unit washing machine
 */
.machine {	
  background-color: #fff;
  color:#333C4D;
  padding: 10px;
  font-size: 150%;
  margin-left:50px;
 
}


.machine img {
	border: 1px solid #fff;
	height: 150px;
	width: 150px;
}
.machine>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}
.machine span{
	font-size: 0.5em;
}

.book_btn {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.book_btn:hover {
  background-color: #f9f9f9;
  color: #555555;
}

/**
 * footer section
 */
footer {
	background: #434343;
	font-size: 0.8em;
	height: 200px;
	position: relative;
}

footer p {
	text-align: center;
}

footer p.title {
	font-size: 1.2em;
	padding: 15px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}

